:root {
    --blue: #10486b;
    --light_gray: #696969;
    --gray: #3a3e43;
    --orange: #c96700;
    --white: #f0f0f0;
    --off_white: #d6d6d6;
    --red: #7c0000;
    --shadow: #0000008f;
    --highlight: #ffffff5d;
    --screen-off: #63693f;
    --screen-on: #4c693f;
    --screen-text: #193130;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nova Square', sans-serif;
    background-color: var(--blue);
    color: var(--orange);
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header {
    font-size: 6vh;
    margin-bottom: 2vh;
}

#on-off-switch {
    width: 3vh;
    height: 1.5vh;
    background-color: var(--gray);
    position: absolute;
    left: 4vh;
    top: -1.5vh;
    border-radius: 1vh 1vh 0vh 0vh;
    box-shadow: 1px 0px 6px var(--shadow) inset, -1px 1px 6px var(--highlight) inset;
    animation: switch-on 1s ease-in-out 2s reverse forwards;
}

@keyframes switch-on {
    from {left: 9vh}
    to {left: 4vh}
}

#on-off-text {
    position: absolute;
    top: 1.5vh;
    left: 2vh;
    width: 12vh;
    height: 2.5vh;
    font-size: 1.5vh;
    color:  #460000;
    border-radius: 1vh;
    text-shadow: 1px -1px 6px var(--shadow) inset, -1px 1px 6px var(--highlight) inset;
    box-shadow: 1px -1px 6px var(--highlight) inset, -1px 1px 6px var(--shadow) inset;
}

#game-boy-outer-screen {
    width: 52vh;
    height: 40vh;
    position: absolute;
    left: 3vh;
    top: 5.5vh;
    background-color: var(--gray);
    border-radius: 2vh 2vh 7vh 2vh;
}

#pink-line {
    width: 47vh;
    height: .2vh;
    background-color: rgb(133, 1, 78);
    position: absolute;
    top: 1.5vh;
    left: 2.5vh;
}

#purple-line {
    width: 47vh;
    height: .2vh;
    background-color: rgb(54, 0, 104);
    position: absolute;
    top: 2.5vh;
    left: 2.5vh;
}

#outer-screen-label {
    font-size: 1.5vh;
    color: var(--white);
    background-color: var(--gray);
    position: absolute;
    padding: .5vh;
    top: .8vh;
    left: 19vh;
}

#battery-light {
    width: 1.5vh;
    height: 1.5vh;
    background-color: var(--light_gray);
    border-radius: 50%;
    position: absolute;
    top: 15vh;
    left: 2.5vh;
    animation: battery-on .5s ease-in-out 3s normal forwards;
}

@keyframes battery-on {
    from {background-color: var(--light_gray);}
    to {
        background-color: red;
        box-shadow: 1px 1px 5px var(--red) inset, 0px 0px 10px 2px red;
    }
}


#battery-label {
    font-size: 1.5vh;
    color: var(--white);
    background-color: var(--gray);
    position: absolute;
    top: 17vh;
    left: .3vh;
}

#game-boy-inner-screen {
    width: 40vh;
    height: 32vh;
    background-color: var(--screen-off);
    position: absolute;
    top: 4vh;
    left: 7vh;
    animation: screen-on 1s ease-in-out 3s normal forwards;
}

@keyframes screen-on {
    from {background-color: var(--screen-off);}
    to {background-color: var(--screen-on);}
}

#starting-text {
    position: absolute;
    top: 10vh;
    left: 10vh;
    color: var(--screen-off);
    font-size: 3vh;
    font-weight: bold;
    animation: starting-text-on 1s ease-in-out 3.4s normal forwards;
}

@keyframes starting-text-on {
    from {color: var(--screen-off);}
    to {color: var(--screen-text);}
}


.input-form {
    width: 36vh;
    height: 10vh;
    padding: .5vh;
    margin: 0 auto;
    font-size: 1.8vh;
    text-align: center;
}

#search-input{
    width: 16vh;
    height: 2vh;
    margin: 0 auto;
    color: var(--orange);
    font-family: 'Nova Square', sans-serif;
    font-size: 1.2vh;
    
}

#search-button {
    font-size: 1.2vh;
    font-family: 'Nova Square', sans-serif;
    padding: .3vh;
    color: var(--off_white);
    background-color: var(--orange);
    border: none;
    cursor: pointer;
    
}

#search-input:focus {
    outline: 1px solid var(--orange)
}

.hidden {
    display: none;
}

.info, #info-top, #thumbnail-container, #pokemon-id, #pokemon-name, #height, #weight {
    color: var(--screen-text);
    position: absolute;
}

#info-top {
    width: 98%;
    height: 12vh;
    top: 5vh;
    left: .4vh;
    border-bottom: 2px solid var(--screen-text);
}

#thumbnail {
    mix-blend-mode: overlay;
}

#pokemon-id {
    top: .5vh;
    left: 16vh;
}

#pokemon-name {
    font-size: 2.5vh;
    top: 3vh;
    left: 16vh;
}

#height {
    top: 6.5vh;
    left: 25vh;
}

#weight {
    top: 9vh;
    left: 25vh;
}

#info-bottom-left {
    position: absolute;
    width: 50%;
    height: 12vh;
    top: 17vh;
    border: 2px solid var(--screen-text);
}

#info-bottom-right {
    position: absolute;
    width: 50%;
    height: 12vh;
    top: 17vh;
    right: 0;
    border: 2px solid var(--screen-text);
}

#game-boy-body {
    position: relative;
    height: 90vh;
    width: 58vh;
    background-color: var(--red);
    border-radius: 10px 10px 50px 10px;
    padding-top: 30px;
    box-shadow: 6px -6px 12px var(--shadow) inset, -6px 6px 12px var(--highlight) inset;
}

#game-boy-label {
    position: absolute;
    bottom: 40vh;
    left: 3vh;
    color: var(--gray);
    font-weight: bold;
    font-size: 2.5vh;
}

#game-boy-label > span {
    font-size: 3.5vh;
}

#center {
    width: 4.5vh;
    height: 4.5vh;
    background-color: var(--gray);
    position: absolute;
    z-index: 1;
    bottom: 26vh;
    left: 10vh;
}

#center-circle {
    width: 3vh;
    height: 3vh;
    background-color: var(--light_gray);
    position: absolute;
    z-index: 1;
    border-radius: 5vh;
    margin: .75vh;
    box-shadow: -6px 6px 18px var(--shadow) inset, 5px -5px 10px var(--highlight) inset;
}


#up, #down {
    z-index: 0;
    width: 4.5vh;
    height: 6vh;
    left: 10vh;
}

#up {
    bottom: 29.5vh;
}

#left, #right {
    z-index: 0;
    width: 6vh;
    height: 4.5vh;
    bottom: 26vh;
}

#left{
    left: 5vh;
}

#right {
    left: 13.5vh;
}

#down {
    bottom: 21vh;
}

#b-button, #a-button, #select-button, #start-button, #up, #left, #right, #down  {
    position: absolute;
    background-color: var(--gray);
    box-shadow: 1px -1px 6px var(--shadow) inset, -1px 1px 6px var(--highlight) inset;
}

#b-button, #a-button {
    height: 7vh;
    width: 7vh;
    border-radius: 50px;
}

#b-button {
    bottom: 21vh;
    right: 13vh;
}

#a-button {
    bottom: 26vh;
    right: 4vh;
}

#a, #b, #select, #start {
    position: absolute;
    font-weight: bold;
    color: var(--gray);
    transform: rotate(-30deg);
    font-size: 2.5vh;
}

#a {
    bottom: 23.5vh;
    right: 4vh;
}

#b {
    bottom: 18.5vh;
    right: 13vh;
}

#select-button, #start-button {
    width: 8vh;
    height: 1.5vh;
    border-radius: 10px;
    bottom: 12vh;
    transform: rotate(-30deg);
}

#select, #start {
    bottom: 9vh;
}

#select-button {
    left: 19vh;
}

#start-button {
    left: 29vh;
}

#select {
    left: 20vh;
}

#start {
    left: 30.5vh;
}

#vents {
    position: absolute;
    bottom: 3vh;
    right: 2vh;
    display: flex;
    transform: rotate(-30deg);
}
.vent {
    width: .7vh;
    height: 8vh;
    border-radius: 10px;
    margin: .7vh;
    background-color: #660000;
    box-shadow: -1px -1px var(--highlight), 1px 1px var(--shadow);
}

#vent-shadow {
    position: absolute;
    bottom: 0vh;
    right: 0vh;
	width: 0;
	height: 0;
	border-top: 1.5vh solid transparent;
	border-left: 17vh solid transparent;
	border-bottom: 10vh solid var(--shadow);
    border-right: 2vh solid var(--shadow);
    border-radius: 0px 0px 50px 0px;
    opacity: 15%;
}