:root {
    --blue: #10486b;
    --light_gray: #696969;
    --gray: #3a3e43;
    --orange: #c96700;
    --white: #f0f0f0;
    --off_white: #d6d6d6;
    --red: #7c0000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: 'Nova Square', sans-serif;
    background-color: var(--blue);
    color: var(--orange);
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header {
    font-size: 45px;
    margin-bottom: 1vh;
}


.input-div {
    width: 330px;
    height: 100px;
    padding: 10px;
    margin: auto;
    font-size: 20px;
    text-align: center;
}

#search-input{
    width: 200px;
    height: 25px;
    margin: 10px auto;
    color: var(--orange);
    font-family: 'Nova Square', sans-serif;
    font-size: 20px;
}

#search-button {
    font-size: 18px;
    font-family: 'Nova Square', sans-serif;
    padding: 2px;
    color: var(--off_white);
    background-color: var(--orange);
    cursor: pointer;
}

#game-boy-body {
    height: 90vh;
    width: 58vh;
    background-color: var(--red);
    border-radius: 10px 10px 50px 10px;
    padding-top: 30px;
}

#b-button, #a-button {
    background-color: var(--gray);
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

#b-button {
    position: absolute;
    bottom: 25vh;
    right: 73vh;
}

#a-button {
    position: absolute;
    bottom: 30vh;
    right: 65vh;
}
